@{
    Layout = null;
}
@model List<IObjInDir>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Хранилище документов</title>
    <link rel="stylesheet" href="~/css/Style.css" />
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        var relFolderPath = '';
    </script>
</head>
<body>
    <header>
        <h1>Файловое хранилище имени меня</h1>
    </header>
    <div class="inputWithDescr" id="first">
        <h3>Загрузка файлов</h3>
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#items">
            <input type="hidden" value="@Uri.EscapeDataString(Context.Request.Query["relativeFolderPath"].ToString())" name="relativeFolderPath" />
            <h5>Выбор файлов</h5>
            <input type="file" accept=".doc, .xls" name="files" multiple>
            <h5>Описание</h5>
            <textarea name="description"></textarea>
            <input type="submit" value="Загрузить">
        </form>
    </div>
    <div class="inputWithDescr" id="second">
        <h3>Создание папок</h3>
        <form method="post" enctype="multipart/form-data" asp-controller="CreateFolder" asp-action="Index" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#items">
            @if (@Context.Request.Query["relativeFolderPath"].ToString() != "")
            {
                <input type="hidden" value="@Uri.EscapeDataString(Context.Request.Query["relativeFolderPath"].ToString())" name="relativeFolderPath" />
            }
            <h5>Имя папки</h5>
            <input type="text" name="folderName">
            <h5>Описание</h5>
            <textarea name="description"></textarea>
            <input type="submit" value="Создать папку">
        </form>
    </div>
    <div id="items">
        @{Html.RenderPartial("~/views/AllElementsPart.cshtml");}
    </div>
    
</body>
</html>
